@import url('stars.css');
@import url('fonts.css');
@import url('box.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bitum';
}

body {
    /* overflow-x: hidden; */
    width: 1280px;
    background-color: #001A3D;
    margin: 0 auto;
}

.hero {
    position: relative;
    width: 100%;
    height: 800px;
}

.firstflore {
    position: relative;
    width: 100%;
    height: 800px;
}

.secondflore {
    position: relative;
    width: 100%;
    height: 800px;
    background-color: #915222;
}

.windowflore {
    position: relative;
    width: 100%;
    height: 800px;
}

.whyflore {
    position: relative;
    width: 100%;
    height: 800px;
}

.undergroundflore {
    position: relative;
    width: 100%;
    height: 163px;
    background-color: #342119;
}

.stars {
    position: absolute;
    width: 100%;
    height: 100%;

    p {
        color: #fff;
        font-size: 13px;
        animation: star 2s infinite;
    }
}

@keyframes star {
    0% {
        opacity: 0.5;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale();
    }

    100% {
        opacity: 0.5;
        transform: scale(1);
    }
}

#bitum {
    position: absolute;
    top: 200px;
    left: 115px;
    width: 1092px;
    height: 337px;
}

#f1 {
    position: absolute;
    top: 22px;
    left: 38px;
    width: 153.8px;
    height: 165.29px;
}

#f2 {
    position: absolute;
    top: 92px;
    left: 709px;
    width: 154px;
    height: 170px;
}

#f3 {
    position: absolute;
    top: 6px;
    left: 1105px;
    width: 147.63px;
    height: 66.58px;
}

#f4 {
    position: absolute;
    top: 565px;
    left: 170px;
    width: 124px;
    height: 204px;
}

#f5 {
    position: absolute;
    top: 627px;
    left: 525px;
    width: 248px;
    height: 155px;
}

#f6 {
    position: absolute;
    top: 594px;
    left: 1011px;
    width: 216.5px;
    height: 173.5px;
}

#roof {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
}

#candale1 {
    position: absolute;
    top: 176px;
    left: 126px;
    z-index: 2;
    width: 242px;
    height: 308.41px;
}

#candale2 {
    position: absolute;
    top: 238.5px;
    left: 849.5px;
    z-index: 2;
    width: 121px;
    height: 160.44px;

}

.roof {
    position: relative;
    width: 100%;
    height: 799px;
    overflow: hidden;
}

#DVDtext {
    position: absolute;
    width: 42px;
    height: 26px;
    left: 583px;
    top: 498px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #826346;
    transform: rotate(-66deg);
    z-index: 4;
}

#bitumbitum {
    position: absolute;
    width: 55px;
    height: 23px;
    left: 132px;
    top: 756px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #826346;
    z-index: 4;
}

#bitumbitumbitum {
    position: absolute;
    width: 78px;
    height: 32px;
    left: 81px;
    top: 692px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    color: #826346;
    transform: rotate(-45deg);
    z-index: 6;
}

#bitumbitumbitum1 {
    position: absolute;
    width: 28px;
    height: 12px;
    left: 44.5px;
    top: 389.5px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 12px;
    color: #826346;
    transform: rotate(5deg);
    z-index: 6;
}

#bitumbitum1 {
    position: absolute;
    width: 37px;
    height: 16px;
    left: 22px;
    top: 356px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #826346;
    transform: rotate(-40deg);
    z-index: 6;
}

img {
    width: 100%;
}

#vindou1_1 {
    box-sizing: border-box;
    position: absolute;
    width: 273px;
    height: 12px;
    left: 503px;
    top: 242px;
    background: #9E7D5A;
    border-width: 1px 0px;
    border-style: solid;
    border-color: rgba(31, 31, 31, 0.8);
    z-index: 2;
    transform: rotate(90deg);

}

#vindou1_2 {
    box-sizing: border-box;
    position: absolute;
    width: 272.5px;
    height: 12px;
    left: 503.5px;
    top: 240.5px;
    background: #9E7D5A;
    border-width: 1px 0px;
    border-style: solid;
    border-color: rgba(31, 31, 31, 0.8);
    z-index: 2;
}

#forroof {
    position: absolute;
    width: 534px;
    height: 28px;
    left: 380px;
    top: 0px;
    background: #773519;
    z-index: 2;
}

#forroof1 {
    position: absolute;
    width: 504.77px;
    height: 27.87px;
    left: -50px;
    top: 108px;
    background: #773519;
    transform: rotate(-30.7deg);
    z-index: 2;
}

#forroof2 {
    position: absolute;
    width: 497.93px;
    height: 27.87px;
    left: 859.92px;
    top: 118px;
    background: #773519;
    transform: rotate(-149.3deg);
    z-index: 2;
}

#triangle {
    position: absolute;
    top: 720px;
    left: 699px;
    z-index: 2;
    width: 31px;
    height: 31px;
}

#bitumdown1 {
    position: absolute;
    width: 117px;
    height: 119.62px;
    left: 29px;
    top: 22px;

}

#bitumdown2 {
    position: absolute;
    width: 117px;
    height: 119.62px;
    left: 1134.5px;
    top: 22px;

}

#text1forgourm {
    position: absolute;
    width: 867px;
    height: 83px;
    left: 200px;
    top: 5px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #DBBA95;
}

#text2forgourm {
    position: absolute;
    width: 846px;
    height: 83px;
    left: 212px;
    top: 78px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #DBBA95;
}

#flor1flore {
    box-sizing: border-box;
    position: absolute;
    width: 1280px;
    height: 18px;
    left: 0px;
    top: 0px;
    background: #773519;
    z-index: 2;
}

#flor0flore {
    box-sizing: border-box;
    position: absolute;
    width: 1280px;
    height: 17px;
    top: 783px;
    background: #773519;
    z-index: 4;
}

#lamp1 {
    position: absolute;
    width: 3px;
    height: 58px;
    left: 624px;
    top: 18px;
    background: #FFFFFF;
    z-index: 2;
}

#lamp2 {
    position: absolute;
    width: 22.19px;
    height: 80.05px;
    left: 614.58px;
    top: 76px;
    background: #FFFFFF;
    z-index: 2;
}

#TV {
    transform: rotate(-64.36deg);
    z-index: 2;
    box-sizing: border-box;
    position: absolute;
    width: 229.18px;
    height: 145.37px;
    left: 495.02px;
    top: 524.07px;
    background: #242424;
    border: 15px solid #000000;

}

#DVD {
    position: absolute;
    top: 500px;
    left: 588px;
    width: 44px;
    height: 26px;
    z-index: 3;
    transform: rotate(293.74deg);
}

#button {
    position: absolute;
    top: 524px;
    left: 709px;
    width: 8px;
    height: 8px;
    z-index: 3;
}

#flor2flore {
    box-sizing: border-box;
    position: absolute;
    width: 1280px;
    height: 17px;
    left: 0px;
    top: 783px;
    background: #773519;
    z-index: 2;
}

#stics {
    position: absolute;
    z-index: 4;
}

#bush {
    position: absolute;
    z-index: 1;
}

#round {
    position: absolute;
    z-index: 4;
}

#color {
    position: absolute;
    z-index: 6;
}

#shelf1 {
    position: absolute;
    width: 250px;
    height: 19px;
    left: 72px;
    top: 171px;
    background: #9E7D5A;
}

#shelf2 {
    position: absolute;
    width: 15px;
    height: 22px;
    left: 79px;
    top: 190px;
    background: #9E7D5A;
}

#shelf3 {
    position: absolute;
    width: 15px;
    height: 22px;
    left: 297px;
    top: 190px;
    background: #9E7D5A;
}

#ceiling {
    box-sizing: border-box;
    position: absolute;
    width: 1280px;
    height: 17px;
    left: 0px;
    top: 0px;
    background: #773519;
}

#light {
    position: absolute;
    width: 100.5px;
    height: 30px;
    left: 942px;
    top: 61.5px;
    background: #FFFFFF;
    transform: rotate(-29.3deg);
    z-index: 0;
}

#boxfor19 {
    position: absolute;
    width: 234px;
    height: 275px;
    left: 182px;
    top: 287px;
    background: #DBBA95;
    z-index: 2;
}

#boxfor191 {
    position: absolute;
    width: 216px;
    height: 298px;
    left: 560px;
    top: 487px;
    background: #DBBA95;
    z-index: 2;
}

#boxfor192 {
    position: absolute;
    width: 246.79px;
    height: 286.83px;
    left: 648.19px;
    top: 59.86px;
    background: #DBBA95;
    transform: rotate(-25.5deg);
    z-index: 2;
}

#boxfor193 {
    position: absolute;
    width: 291px;
    height: 334px;
    left: 823px;
    top: 339px;
    background: #DBBA95;
    z-index: 2;
}

#shelf4 {
    position: absolute;
    width: 250px;
    height: 19px;
    left: 175px;
    top: 563px;
    background: #9E7D5A;
}

#shelf5 {
    position: absolute;
    width: 15px;
    height: 22px;
    left: 400px;
    top: 582px;
    background: #9E7D5A;
}

#shelf6 {
    position: absolute;
    width: 15px;
    height: 22px;
    left: 182px;
    top: 582px;
    background: #9E7D5A;
}


#text19_1 {
    position: absolute;
    width: 276px;
    height: 608px;
    left: 161px;
    top: 90px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 400;
    font-size: 469px;
    line-height: 608px;
    color: #FFFFFF;
    z-index: 3;
}

#text19_2 {
    position: absolute;
    width: 286px;
    height: 608px;
    left: 606.4px;
    top: -129.82px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 400;
    font-size: 469px;
    line-height: 608px;
    color: #FFFFFF;
    transform: rotate(-25.5deg);
    z-index: 3;
}

#text19_3 {
    z-index: 3;
    position: absolute;
    width: 289px;
    height: 608px;
    left: 529px;
    top: 290px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 400;
    font-size: 469px;
    line-height: 608px;
    color: #FFFFFF;
}

#text19_4 {
    z-index: 3;
    position: absolute;
    width: 387px;
    height: 608px;
    left: 775px;
    top: 201px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 400;
    font-size: 469px;
    line-height: 608px;
    color: #FFFFFF;
}

#text48_1 {
    position: absolute;
    width: 24px;
    height: 26px;
    left: 834px;
    top: 529px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #8FCAFB;
    z-index: 7;

}

#text48_2 {
    position: absolute;
    width: 24px;
    height: 26px;
    left: 1079px;
    top: 529px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #8FCAFB;
    z-index: 7;
}

#text48_3 {
position: absolute;
width: 24px;
height: 26px;
left: 906.17px;
top: 518.69px;
font-family: 'Bitum';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
color: #8FCAFB;
transform: rotate(-23.35deg);
z-index: 7;
}

#text48_4 {
position: absolute;
width: 24px;
height: 26px;
left: 1005.16px;
top: 517.69px;
font-family: 'Bitum';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
color: #8FCAFB;
transform: rotate(23.31deg);
z-index: 7;
}