#box1 {
    position: absolute;
    width: 239px;
    height: 239px;
    left: 1004px;
    top: 229px;
    background: #DBBA95;
    z-index: 2;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box2 {
    position: absolute;
    width: 288px;
    height: 288px;
    left: 975px;
    top: 469px;
    background: #DBBA95;
    z-index: 2;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fbox2_1 {
    position: absolute;
    width: 288px;
    height: 49px;
    background: #FFFFFF;
    z-index: 3;
}

#fbox1_1 {
    position: absolute;
    width: 341px;
    height: 40px;
    background: #FFFFFF;
    transform: rotate(-45deg);
    z-index: 3;
}

#textinbox1 {
    z-index: 4;
    position: absolute;
    width: 121px;
    height: 51px;
    left: 1062px;
    top: 326px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 51px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #826346;
    transform: rotate(-45deg);
}

#textinbox2 {
    z-index: 5;
    position: absolute;
    width: 87px;
    height: 36px;
    left: 4px;
    top: 1px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

#boxfortextinbox2 {
    box-sizing: border-box;
    position: absolute;
    width: 100px;
    height: 38px;
    left: 1139px;
    top: 426px;
    border: 3px solid #8C6A4E;
    z-index: 4;
    display: flex;
    align-items: center;
    text-align: center;
}

#boxfortextinbox2_2 {
    z-index: 4;
    box-sizing: border-box;
    position: absolute;
    width: 120px;
    height: 46px;
    left: 980px;
    top: 474px;

    border: 3px solid #8C6A4E;

}

#textinbox1_2 {
    z-index: 4;

    position: absolute;
    width: 145px;
    height: 61px;
    left: 1047px;
    top: 582px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #826346;


}

#textinbox2_2 {
    z-index: 5;

    position: absolute;
    width: 105px;
    height: 44px;
    left: 5px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;



}

#boxfortextinbox1_3 {
    z-index: 4;
    box-sizing: border-box;
    position: absolute;
    border: 3px solid #8C6A4E;
    width: 82px;
    height: 31px;
    left: 861px;
    top: 722px;
}

#textinbox1_3 {
    z-index: 4;
    position: absolute;
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #826346;
    width: 99px;
    height: 42px;
    left: 798px;
    top: 640px;
    font-size: 32px;
    line-height: 42px;
    transform: rotate(-45deg);

}

#textinbox2_3 {
    z-index: 5;
    position: absolute;
    width: 105px;
    height: 44px;
    left: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    width: 71px;
    height: 30px;
    left: 3px;
    font-size: 23px;
    line-height: 30px;
}

#box3 {
    background: #DBBA95;
    z-index: 2;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 197px;
    height: 197px;
    left: 750px;
    top: 560px;

}

#fbox1_3 {
    position: absolute;
    background: #FFFFFF;
    z-index: 3;
    width: 281px;
    height: 32px;
    background: #FFFFFF;
    transform: rotate(-45deg);

}

#boxfortextinbox1_4 {
    z-index: 4;
    box-sizing: border-box;
    position: absolute;
    border: 3px solid #8C6A4E;
    width: 72px;
    height: 27px;
    left: 766px;
    top: 529px;


}

#textinbox1_4 {
    z-index: 4;
    position: absolute;
    width: 87px;
    height: 36px;
    left: 805px;
    top: 455px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #826346;
    transform: rotate(45deg);

}

#textinbox2_4 {
    z-index: 5;
    position: absolute;
    width: 62px;
    height: 26px;
    left: 2px;
    top: -2px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;


}

#box4 {
    background: #DBBA95;
    z-index: 2;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 171px;
    height: 171px;
    left: 763px;
    top: 388px;
    transform: rotate(90deg);

}

#fbox1_4 {
    position: absolute;
    background: #FFFFFF;
    z-index: 3;
    width: 281px;
    height: 32px;
    background: #FFFFFF;
    transform: rotate(-45deg);
}

#boxfortextinbox1_5 {
    z-index: 4;
    box-sizing: border-box;
    position: absolute;
    width: 39px;
    height: 39px;
    left: 695px;
    top: 714px;
    border: 2px solid #8C6A4E;
}

#textinbox1_5 {
    z-index: 4;
    position: absolute;
    width: 87px;
    height: 36px;
    left: 805px;
    top: 455px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #826346;
    transform: rotate(45deg);
}

#textinbox2_5 {
    z-index: 5;
    left: 12px;
    top: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 11px;
    height: 19px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #8C6A4E;
}

#box5 {
    background: #DBBA95;
    z-index: 2;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 709.5px;
    height: 273px;
    left: 29px;
    top: 484px;
}

#fbox1_5 {
    position: absolute;
    background: #FFFFFF;
    z-index: 3;
    width: 644.23px;
    height: 55px;
    transform: rotate(150deg);
}

#fbox2_5 {
    position: absolute;
    background: #FFFFFF;
    z-index: 3;
    width: 348.99px;
    height: 55px;
    transform: rotate(60deg);
    left: 250px;
}

#textonbox1 {
    position: absolute;
    width: 331px;
    height: 141px;
    left: 43px;
    top: 476px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 400;
    font-size: 109px;
    line-height: 141px;
    color: #826346;
    z-index: 3;
}

#textonbox2 {
    position: absolute;
    width: 225px;
    height: 59.5px;
    left: 54px;
    top: 597px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 400;
    font-size: 15.5px;
    line-height: 20px;
    color: #826346;
    z-index: 3;

}

#textinboxbox1 {
    position: absolute;
    width: 78px;
    height: 53px;
    left: 115px;
    top: 453px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 700;
    font-size: 41px;
    line-height: 53px;
    color: #826346;
    z-index: 6;
}

#textinboxbox3 {
    position: absolute;
    width: 73px;
    height: 53px;
    left: 562px;
    top: 649px;
    z-index: 6;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 300;
    font-size: 41px;
    line-height: 53px;
    color: #826346;
}

#textinboxbox4 {
    position: absolute;
    width: 84px;
    height: 53px;
    left: 297px;
    top: 605px;
    font-family: 'Bitum';
    font-style: italic;
    font-weight: 700;
    font-size: 41px;
    line-height: 53px;
    color: #826346;
    transform: rotate(30deg);
    z-index: 6;
}

#textinboxbox5 {
    z-index: 6;
    position: absolute;
    width: 77px;
    height: 53px;
    left: 820px;
    top: 600px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 400;
    font-size: 41px;
    line-height: 53px;
    color: #826346;
    transform: rotate(-72deg);
}

#textinboxbox6 {
    z-index: 6;
    position: absolute;
    width: 73px;
    height: 53px;
    left: 1015px;
    top: 413px;
    font-family: 'Bitum';
    font-style: italic;
    font-weight: 300;
    font-size: 41px;
    line-height: 53px;
    color: #826346;
    transform: rotate(53.7deg);

}

#textinboxbox2 {
    z-index: 6;
    position: absolute;
    width: 77px;
    height: 53px;
    left: 1075px;
    top: 647px;
    font-family: 'Bitum';
    font-style: italic;
    font-weight: 400;
    font-size: 41px;
    line-height: 53px;
    color: #826346;
    transform: rotate(-45deg);

}

#box12 {
    position: absolute;
    z-index: 1;
}

.box218 {
    position: absolute;
    width: 218px;
    height: 218px;
    z-index: 3;
    background: #DBBA95;

}

#box218_1 {
    left: 491.5px;
    top: 564.5px;
}

#box218_2 {
    left: 45.1px;
    top: 369.6px;
    transform: rotate(45deg);

}

#box218_3 {
    transform: rotate(30.4deg);
    left: 233px;
    top: 524px;
}

#box218_4 {
    left: 747.3px;
    top: 521.8px;
    transform: rotate(-27.2deg);

}

#box218_5 {
    transform: rotate(8.7deg);
    left: 943.3px;
    top: 331.3px;

}

#box218_6 {
    left: 1003px;
    top: 565px;
}

#boxwithmaintext {
    position: absolute;
    width: 640.82px;
    height: 213.1px;
    left: 296.43px;
    top: 248.03px;
    transform: rotate(-1.5deg);
    background: #DBBA95;
    z-index: 2;
}

#textformaintext {
    position: absolute;
    width: 633.75px;
    height: 133.16px;
    left: 26px;
    top: 26px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 95%;
    letter-spacing: -0.06em;
    color: #826346;
}

.boxfortextinbox4 {
    box-sizing: border-box;
    position: absolute;
    width: 31px;
    height: 31px;
    border: 2px solid #8C6A4E;
    z-index: 5;
}

#boxfortextinbox4_1 {
    left: 182.5px;
    top: 182.5px;

}

#boxfortextinbox4_2 {
    left: 182.5px;
    top: 182.5px;

}

#boxfortextinbox4_3 {
    left: 4px;
    top: 182.5px;
}

#boxfortextinbox4_3_1 {
    left: 38px;
    top: 182.5px;
}

#boxfortextinbox4_4 {
    left: 182.5px;
    top: 182.5px;
}

#boxfortextinbox4_5 {
    left: 4px;
    top: 182.5px;
}

#boxfortextinbox4_5_1 {
    left: 38px;
    top: 182.5px;
}

#boxfortextinbox4_6 {
    left: 148.5px;
    top: 182.5px;
}

#boxfortextinbox4_6_1 {
    left: 182.5px;
    top: 182.5px;
}


.textfortextinbox4 {
    position: absolute;
    font-style: normal;
    color: #8C6A4E;
}

#textfortextinbox4_1 {
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    width: 12px;
    height: 26px;
    left: 7px;
}

#textfortextinbox4_2 {
    width: 17px;
    height: 31px;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    left: 5px;
    top: -2px;

}

#textfortextinbox4_3 {
    width: 17px;
    height: 31px;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    left: 5px;
    top: -2px;
}

#textfortextinbox4_3_1 {
    font-size: 24px;
    line-height: 31px;
    left: 6.5px;
    top: -1px;
    width: 7px;
    height: 31px;
    font-style: italic;
    font-weight: 400;

}

#textfortextinbox4_4 {
    width: 17px;
    height: 31px;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    left: 6px;
    top: -2px;
}

#textfortextinbox4_5 {
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    width: 12px;
    height: 26px;
    left: 7px;

}

#textfortextinbox4_5_1 {
    font-size: 24px;
    line-height: 31px;
    left: 6.5px;
    top: -1px;
    width: 7px;
    height: 31px;
    font-style: italic;
    font-weight: 400;
}

#textfortextinbox4_6 {
    width: 17px;
    height: 31px;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    left: 6px;
    top: -2px;

}

#textfortextinbox4_6_1 {
    font-size: 24px;
    line-height: 31px;
    left: 6.5px;
    top: -1px;
    width: 7px;
    height: 31px;
    font-style: italic;
    font-weight: 400;
}

#boxopen_slice1 {
    transform: rotate(-112.12deg);
    position: absolute;
    width: 9.5px;
    height: 109px;
    left: 753.53px;
    top: 493.92px;
    background: #DBBA95;
    z-index: 3;
}

#boxopen_slice2 {
    transform: rotate(-69.89deg);
    position: absolute;
    width: 9.5px;
    height: 109px;
    left: 439.56px;
    top: 495.7px;
    background: #DBBA95;
    z-index: 3;
}

.pilloy {
    box-sizing: border-box;
    position: absolute;
    width: 296.25px;
    height: 25px;
    z-index: 2;
    border-width: 5px 10px;
    border-style: solid;
    border-color: #DBBA95;
}

.forpilloy {
    position: absolute;
    width: 12.5px;
    height: 25px;

    z-index: 3;
    background: #DBBA95;
}

#pill1 {
    left: 12px;
    top: 758px;
}

#fpill1 {
    left: 154.5px;
    top: 758px;
}

#pill2 {
    left: 333px;
    top: 758px;
}

#fpill2 {
    left: 475.5px;
    top: 758px;
}

#pill3 {
    left: 653px;
    top: 758px;
}

#fpill3 {
    left: 795.5px;
    top: 758px;
}

#pill4 {
    left: 972.75px;
    top: 758px;
}

#fpill4 {
    left: 1115.25px;
    top: 758px;
}

#boxfor19 {
    position: absolute;
    width: 234px;
    height: 275px;
    left: 182px;
    top: 287px;
    background: #DBBA95;
    z-index: 2;
}

#boxfor191 {
    position: absolute;
    width: 216px;
    height: 298px;
    left: 560px;
    top: 487px;
    background: #DBBA95;
    z-index: 2;
}

#boxfor192 {
    position: absolute;
    width: 246px;
    height: 286px;
    left: 648px;
    top: 59px;
    background: #DBBA95;
    transform: rotate(-25.5deg);
    z-index: 2;
}

#boxfor193 {
    position: absolute;
    width: 291px;
    height: 330.5px;
    left: 823px;
    top: 338px;
    background: #DBBA95;
    z-index: 2;
}

#boxend_1 {
    position: absolute;
    width: 1238px;
    height: 733px;
    left: 21px;
    top: 33px;
    background: #DBBA95;
}

#boxend_2 {
    box-sizing: border-box;
    position: absolute;
    width: 1280px;
    height: 18px;
    left: 0px;
    top: 0px;
    background: #773519;
}

#boxend_3text {
    position: absolute;
    width: 638px;
    height: 98px;
    left: 334px;
    top: 30px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 400;
    font-size: 75.5px;
    line-height: 98px;
    color: #826346;
}

#boxend_3 {
    position: absolute;
    width: 194px;
    height: 54px;
    left: 206px;
    top: 628.5px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 700;
    font-size: 41.5px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    z-index: 5;
}

#boxend_4 {
    position: absolute;
    width: 722px;
    height: 577px;
    left: 469px;
    top: 141px;
    z-index: 2;
}

#boxend_5 {
    position: absolute;
    width: 385px;
    height: 542.5px;
    left: 59px;
    top: 164px;
    z-index: 2;
}

#textinbox4_1 {
    position: absolute;
    width: 82px;
    height: 35px;
    left: 896px;
    top: 378px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 35px;
    color: #000000;
    z-index: 6;
}

#textinbox4_2 {
    position: absolute;
    width: 119px;
    height: 15px;
    left: 875px;
    top: 409px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 400;
    font-size: 6px;
    line-height: 8px;
    text-align: center;
    color: #000000;
    z-index: 6;
}

#textinbox4_3 {
    position: absolute;
    width: 82px;
    height: 35px;
    left: 896px;
    top: 212px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 35px;
    color: #000000;
    z-index: 6;
}

#textinbox4_4 {
    position: absolute;
    width: 83px;
    height: 7px;
    left: 897px;
    top: 241px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 400;
    font-size: 6px;
    line-height: 8px;
    color: #000000;
    z-index: 6;
}

#textinbox4_5 {
    position: absolute;
    width: 155px;
    height: 151px;
    left: 518px;
    top: 355px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    color: #000000;
    z-index: 6;
}

#textinbox4_6 {
    position: absolute;
    width: 155px;
    height: 151px;
    left: 689px;
    top: 355px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    color: #000000;
    z-index: 6;
}

#textinboxforbottom1 {
    position: absolute;
    width: 62px;
    height: 26px;
    left: 59px;
    top: 68px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #826346;
    transform: rotate(-45deg);
    z-index: 7;
}

#textinboxforbottom2 {
    position: absolute;
    width: 62px;
    height: 26px;
    left: 1165px;
    top: 68px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #826346;
    transform: rotate(-45deg);
    z-index: 7;
}

#textinboxforbottom3 {
    z-index: 7;
    position: absolute;
    width: 44px;
    height: 18px;
    left: 98px;
    top: 120px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

#textinboxforbottom4 {
    position: absolute;
    width: 44px;
    height: 18px;
    left: 1203px;
    top: 120px;
    font-family: 'Bitum';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    z-index: 7;
}
